<a href="https://colab.research.google.com/github/htrakhman/NBA_Trade_Sentiment_Analysis/blob/main/NBA_Trade_Sentiment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas requests textblob

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (2.25.1)
Requirement already satisfied: textblob in /usr/local/lib/python3.8/dist-packages (0.15.3)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests) (2022.12.7)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests) (2.10)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.8/dist-packages (from textblob) (3.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from nltk>=3.1->textblob) (1.2.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from nltk>=3.1->textblob) (4.64.1)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.8/dist-packages (from nltk>=3.1->textblob) (2022.6.2)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from nltk>=3.1->textblob) (7.1.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

#Extracting Data

requests allows me to requests api calls

In [ ]:
import requests

In [ ]:
#API Token 
bearer_token = 'AAAAAAAAAAAAAAAAAAAAAEgHlAEAAAAA5PStHbtHBWQGAuYxItStUXrolz0%3DyBeiIO7dMBnDY8JZYgomVudfiZy5U4Ov7INieLMMkeupSqlY32'

In [ ]:
#API Endpoint 
url = "https://api.twitter.com/2/tweets/search/recent"

In [ ]:
keyword = 'Kyrie Irving trade to Mavericks'
#twitter's max
count = 100

params = {
    "query": keyword,
    "max_results": count,
    }

When you make an API call you need to provide a URL and headers in order to have an authenticated request

In [ ]:
#bearer tokens refer to authentication OAuth
#there are other authenitcation types such as basic which is just user name and password
headers = {
    "Authorization": "Bearer " + bearer_token
}

In [ ]:
# Send a GET request to the API
next_token = None
list_of_tweets = []
for x in range(100):
  params['next_token'] = next_token
  response = requests.get(url, headers=headers, params=params)
  result = response.json()
  tweets = result['data']
  #next token used to cycle to next page of 100 tweets
  next_token = result["meta"]["next_token"]
  list_of_tweets.extend(tweets)
  print('Completed:' , x)
  print('Count:' , len(list_of_tweets))

Completed: 0
Count: 100
Completed: 1
Count: 200
Completed: 2
Count: 300
Completed: 3
Count: 400
Completed: 4
Count: 498
Completed: 5
Count: 598
Completed: 6
Count: 698
Completed: 7
Count: 798
Completed: 8
Count: 898
Completed: 9
Count: 998
Completed: 10
Count: 1098
Completed: 11
Count: 1198
Completed: 12
Count: 1298
Completed: 13
Count: 1398
Completed: 14
Count: 1498
Completed: 15
Count: 1597
Completed: 16
Count: 1697
Completed: 17
Count: 1797
Completed: 18
Count: 1896
Completed: 19
Count: 1996
Completed: 20
Count: 2096
Completed: 21
Count: 2196
Completed: 22
Count: 2296
Completed: 23
Count: 2396
Completed: 24
Count: 2496
Completed: 25
Count: 2596
Completed: 26
Count: 2695
Completed: 27
Count: 2794
Completed: 28
Count: 2894
Completed: 29
Count: 2993
Completed: 30
Count: 3090
Completed: 31
Count: 3188
Completed: 32
Count: 3273
Completed: 33
Count: 3373
Completed: 34
Count: 3472
Completed: 35
Count: 3572
Completed: 36
Count: 3672
Completed: 37
Count: 3772
Completed: 38
Count: 3871
Completed: 39
Count: 3971
Completed: 40
Count: 4071
Completed: 41
Count: 4170
Completed: 42
Count: 4270
Completed: 43
Count: 4370
Completed: 44
Count: 4470
Completed: 45
Count: 4570
Completed: 46
Count: 4669
Completed: 47
Count: 4769
Completed: 48
Count: 4869
Completed: 49
Count: 4969
Completed: 50
Count: 5069
Completed: 51
Count: 5169
Completed: 52
Count: 5268
Completed: 53
Count: 5367
Completed: 54
Count: 5467
Completed: 55
Count: 5566
Completed: 56
Count: 5666
Completed: 57
Count: 5766
Completed: 58
Count: 5865
Completed: 59
Count: 5965
Completed: 60
Count: 6065
Completed: 61
Count: 6165
Completed: 62
Count: 6265
Completed: 63
Count: 6365
Completed: 64
Count: 6465
Completed: 65
Count: 6565
Completed: 66
Count: 6665
Completed: 67
Count: 6765
Completed: 68
Count: 6865
Completed: 69
Count: 6964
Completed: 70
Count: 7064
Completed: 71
Count: 7164
Completed: 72
Count: 7264
Completed: 73
Count: 7364
Completed: 74
Count: 7464
Completed: 75
Count: 7564
Completed: 76
Count: 7663
Completed: 77
Count: 7763
Completed: 78
Count: 7863
Completed: 79
Count: 7963
Completed: 80
Count: 8063
Completed: 81
Count: 8162
Completed: 82
Count: 8262
Completed: 83
Count: 8362
Completed: 84
Count: 8462
Completed: 85
Count: 8562
Completed: 86
Count: 8662
Completed: 87
Count: 8762
Completed: 88
Count: 8861
Completed: 89
Count: 8960
Completed: 90
Count: 9060
Completed: 91
Count: 9160
Completed: 92
Count: 9260
Completed: 93
Count: 9359
Completed: 94
Count: 9459
Completed: 95
Count: 9559
Completed: 96
Count: 9659
Completed: 97
Count: 9759
Completed: 98
Count: 9859
Completed: 99
Count: 9959

# Converting to a DataFrame

In [ ]:
#converting this into a df
import pandas as pd
tweets_df = pd.DataFrame(list_of_tweets, columns = ['text'])
tweets_df

                                                   text
0     Kyrie Irving didn’t accomplish anything by req...
1     RT @tipico: NBA TRADE NEWS:\n\nThe Brooklyn Ne...
2     The whole Q&amp;A with Markieff Morris answeri...
3     RT @keratx: David Trink talked to @keranews' S...
4     RT @keratx: David Trink talked to @keranews' S...
...                                                 ...
9954  RT @wojespn: Reporting with @espn_macmahon: Th...
9955  RT @wojespn: Reporting with @espn_macmahon: Th...
9956  RT @wojespn: Reporting with @espn_macmahon: Th...
9957  RT @wojespn: Reporting with @espn_macmahon: Th...
9958  RT @wojespn: Reporting with @espn_macmahon: Th...

[9959 rows x 1 columns]

# Sentiment Analysis

In [ ]:
import re

# pre-process the tweet text
def clean_tweet(tweet):
    text = tweet.replace('RT','')
    return ' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)", " ", text).split())

tweets_df['clean_text'] =  tweets_df['text'].apply(lambda x: clean_tweet(x))

In [ ]:
tweets_df

,text,clean_text
0,Kyrie Irving didn’t accomplish anything by req...,Kyrie Irving didn t accomplish anything by req...
1,RT @tipico: NBA TRADE NEWS:\n\nThe Brooklyn Ne...,NBA TRADE NEWS The Brooklyn Nets are trading K...
2,The whole Q&amp;A with Markieff Morris answeri...,The whole Q amp A with Markieff Morris answeri...
3,RT @keratx: David Trink talked to @keranews' S...,David Trink talked to Sam Baker about his piec...
4,RT @keratx: David Trink talked to @keranews' S...,David Trink talked to Sam Baker about his piec...
...,...,...
9954,RT @wojespn: Reporting with @espn_macmahon: Th...,Reporting with macmahon The Mavericks have had...
9955,RT @wojespn: Reporting with @espn_macmahon: Th...,Reporting with macmahon The Mavericks have had...
9956,RT @wojespn: Reporting with @espn_macmahon: Th...,Reporting with macmahon The Mavericks have had...
9957,RT @wojespn: Reporting with @espn_macmahon: Th...,Reporting with macmahon The Mavericks have had...
9958,RT @wojespn: Reporting with @espn_macmahon: Th...,Reporting with macmahon The Mavericks have had...

In [ ]:
from textblob import TextBlob
def calculate_polarity(text):
  analysis = TextBlob(text)
  polarity = analysis.sentiment.polarity
  return polarity

tweets_df['polarity_score'] =  tweets_df['clean_text'].apply(lambda x: calculate_polarity(x))
tweets_df

,text,clean_text,polarity_score
0,Kyrie Irving didn’t accomplish anything by req...,Kyrie Irving didn t accomplish anything by req...,0.136364
1,RT @tipico: NBA TRADE NEWS:\n\nThe Brooklyn Ne...,NBA TRADE NEWS The Brooklyn Nets are trading K...,0.000000
2,The whole Q&amp;A with Markieff Morris answeri...,The whole Q amp A with Markieff Morris answeri...,0.100000
3,RT @keratx: David Trink talked to @keranews' S...,David Trink talked to Sam Baker about his piec...,0.000000
4,RT @keratx: David Trink talked to @keranews' S...,David Trink talked to Sam Baker about his piec...,0.000000
...,...,...,...
9954,RT @wojespn: Reporting with @espn_macmahon: Th...,Reporting with macmahon The Mavericks have had...,-0.133333
9955,RT @wojespn: Reporting with @espn_macmahon: Th...,Reporting with macmahon The Mavericks have had...,-0.133333
9956,RT @wojespn: Reporting with @espn_macmahon: Th...,Reporting with macmahon The Mavericks have had...,-0.133333
9957,RT @wojespn: Reporting with @espn_macmahon: Th...,Reporting with macmahon The Mavericks have had...,-0.133333
9958,RT @wojespn: Reporting with @espn_macmahon: Th...,Reporting with macmahon The Mavericks have had...,-0.133333

In [ ]:
from textblob import TextBlob
def calculate_subjectivity(text):
  analysis = TextBlob(text)
  subjectivity = analysis.sentiment.subjectivity
  return subjectivity

tweets_df['subjectivity_score'] =  tweets_df['clean_text'].apply(lambda x: calculate_subjectivity(x))
tweets_df

,text,clean_text,polarity_score,subjectivity_score
0,Kyrie Irving didn’t accomplish anything by req...,Kyrie Irving didn t accomplish anything by req...,0.136364,0.454545
1,RT @tipico: NBA TRADE NEWS:\n\nThe Brooklyn Ne...,NBA TRADE NEWS The Brooklyn Nets are trading K...,0.000000,0.000000
2,The whole Q&amp;A with Markieff Morris answeri...,The whole Q amp A with Markieff Morris answeri...,0.100000,0.200000
3,RT @keratx: David Trink talked to @keranews' S...,David Trink talked to Sam Baker about his piec...,0.000000,0.000000
4,RT @keratx: David Trink talked to @keranews' S...,David Trink talked to Sam Baker about his piec...,0.000000,0.000000
...,...,...,...,...
9954,RT @wojespn: Reporting with @espn_macmahon: Th...,Reporting with macmahon The Mavericks have had...,-0.133333,0.283333
9955,RT @wojespn: Reporting with @espn_macmahon: Th...,Reporting with macmahon The Mavericks have had...,-0.133333,0.283333
9956,RT @wojespn: Reporting with @espn_macmahon: Th...,Reporting with macmahon The Mavericks have had...,-0.133333,0.283333
9957,RT @wojespn: Reporting with @espn_macmahon: Th...,Reporting with macmahon The Mavericks have had...,-0.133333,0.283333
9958,RT @wojespn: Reporting with @espn_macmahon: Th...,Reporting with macmahon The Mavericks have had...,-0.133333,0.283333

In [ ]:

# categorizing the polarty scores to create overall sentiment result of each tweet
def determine_sentiment(polarity):
    if polarity > 0:
        return 'positive'
    elif polarity < 0:
        return 'negative'
    else:
        return 'neutral'

tweets_df['sentiment'] =  tweets_df['polarity_score'].apply(lambda x: determine_sentiment(x))
tweets_df

,text,clean_text,polarity_score,subjectivity_score,sentiment
0,Kyrie Irving didn’t accomplish anything by req...,Kyrie Irving didn t accomplish anything by req...,0.136364,0.454545,positive
1,RT @tipico: NBA TRADE NEWS:\n\nThe Brooklyn Ne...,NBA TRADE NEWS The Brooklyn Nets are trading K...,0.000000,0.000000,neutral
2,The whole Q&amp;A with Markieff Morris answeri...,The whole Q amp A with Markieff Morris answeri...,0.100000,0.200000,positive
3,RT @keratx: David Trink talked to @keranews' S...,David Trink talked to Sam Baker about his piec...,0.000000,0.000000,neutral
4,RT @keratx: David Trink talked to @keranews' S...,David Trink talked to Sam Baker about his piec...,0.000000,0.000000,neutral
...,...,...,...,...,...
9954,RT @wojespn: Reporting with @espn_macmahon: Th...,Reporting with macmahon The Mavericks have had...,-0.133333,0.283333,negative
9955,RT @wojespn: Reporting with @espn_macmahon: Th...,Reporting with macmahon The Mavericks have had...,-0.133333,0.283333,negative
9956,RT @wojespn: Reporting with @espn_macmahon: Th...,Reporting with macmahon The Mavericks have had...,-0.133333,0.283333,negative
9957,RT @wojespn: Reporting with @espn_macmahon: Th...,Reporting with macmahon The Mavericks have had...,-0.133333,0.283333,negative
9958,RT @wojespn: Reporting with @espn_macmahon: Th...,Reporting with macmahon The Mavericks have had...,-0.133333,0.283333,negative

In [ ]:
#Export the DataFrame to a CSV file
tweets_df.to_excel('Kyrie_Irving_trade_sentiments.xlsx', index=False)